img::before{
display:none;
}
.link-card-pro.top{
    display:block;
    text-decoration:none;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.3) 5px 5px 8px 2px;
    margin:50px;
    height:280px;
    overflow:hidden;
}
.link-card-pro.top img{
    border-radius:10px 10px 0 0;
    width:100%;
    height:80%;
    object-fit:cover;
    margin:0;
}
.link-card-pro.top div.link-content{
    display:flex;
    height:20%;
    margin-bottom:0;
    background:rgba(255,255,255,0.9);
    font-weight:600;
    overflow:hidden;
}
.link-card-pro.top div.link-content p{
    color:#333;
    margin:auto auto auto 1rem;
}
.link-card-pro.left{
    display:flex;
    text-decoration:none;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.3) 5px 5px 8px 2px;
    margin:50px;
    height:280px;
    overflow:hidden;
}
.link-card-pro.left img{
    border-radius:10px 0 0 10px;
    width:36%;
    height:100%;
    object-fit:cover;
    margin:0;
}
.link-card-pro.left div.link-content{
    display:flex;
    border-radius:10px;
    height:100%;
    margin:0;
    padding:1rem;
    background:rgba(255,255,255,1);
    font-weight:600;
    overflow:hidden;
}
.link-card-pro.left div.link-content p{
    color:#333;
    margin:0rem auto auto auto;
    word-break:break-all;
}
