*{
    -webkit-tap-highlight-color:transparent;
    outline:none;
}
[data-user-color-scheme="light"] #navbar{
    background:white;
}
.page-content h2{color: #bf616a !important;}
.page-content h3{color: #d08770 !important;}
.page-content h4{color: #ebcb8b !important;}
.page-content h5{color: #a3be8c !important;}
.page-content h6{color: #b48ead !important;}
.page-content a{
    color:#6483B0 !important;
}
.post-content h2{color: #bf616a !important;}
.post-content h3{color: #d08770 !important;}
.post-content h4{color: #ebcb8b !important;}
.post-content h5{color: #a3be8c !important;}
.post-content h6{color: #b48ead !important;}
.post-content a{
    color:#6483B0 !important;
}
/*内链图标*/
.page-content p a[href]::after{
    content:'  \e630'
}
/*外联图标*/
.page-content p a[href*=http]::after{
    content:'  \e61d'
}
/*docs链接图标*/
.page-content p a[href*='/docs/']::after{
    content:''
}
.page-content p a[href*='/docs/']::before{
    content:'\e601  '
}
/*收集表链接图标*/
.page-content p a[href*='/docs/form']::after{
    content:''
}
.page-content p a[href*='/docs/form']::before{
    content:'\e62a  '
}

.md-form input[type]:focus:not([readonly]) + label{
}
.md-form input[type].valid + label, .md-form input[type]:focus.valid + label{
    color: transparent;
}
.md-form input[type].valid, .md-form input[type]:focus.valid{
    border-bottom: 1px solid #66a59c;
    -webkit-box-shadow: 2px 3px 5px 0 #66a59c;
    box-shadow: 0 5px 5px 0 #66a59c;
}
.md-form input[type].invalid + label, .md-form input[type]:focus.invalid + label{
    color: tomato;
}
#container{
    background:rgba(0,0,0,0.6);
	opacity:0;
    display: flex;
    position:fixed;
    height: 100vh;
    width: 100vw;    
    left: 0;
    top: 0;
    z-index:-1;
    transition: 0.6s;
}
[name="link"]{
  display:none !important;
}
.v[data-class="v"] .vwrap .vheader .vinput[name="nick"]{
    width:33.33% !important;
}
.v[data-class="v"] .vwrap .vheader .vinput[name="mail"]{
    width:66.66% !important;
}
.v[data-class="v"] .vwrap .vemojis i{
    width:170px !important
}
.v[data-class=v] .vemoji,
.v[data-class=v] .emoji {
    width:150px !important;
    height:150px !important;
}

.v[data-class="v"] .vcards .vcard .vh .vmeta .vat{
    color:#BCD4E3 !important;
}
.vpower{
    display: none;
}
code,pre{
    font-size: 110% !important;
    font-weight: 600 !important;
    text-shadow: none !important;
    color:#6483B0 !important;
    box-shadow: none !important;
}
blockquote{
    font-weight:400;
    display:block;
    width: 90%;
    left:0;
    margin: 1rem 0rem;
    padding:0rem 0.8rem;
    border-left:0.5rem solid rgba(118,133, 151,100%);
    color: rgba(118,133, 151,100%);
}
